table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#board-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  /* opacity: 0;  https://www.sitepoint.com/five-ways-to-hide-elements-in-css/ */
}